config = {
    "api_url": "https://unms.ui.com/api/v1.0",
    "api_key": "5YbpCSto7ffl/P/veJ/GK3U7K7zH6ZoHil7j5dorerSN8o+rlJJq6X/uFGZQF2WL",
    "influxdb_host": "influxdb",
    "influxdb_port": 8086,
    "influxdb_ssl": False,
    "influxdb_user": "unms",
    "influxdb_pass": "password",
    "influxdb_db": "unms",
}